<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mysample.mapper.AdminMapper">
    <insert id="insertMember" parameterType="com.example.mysample.dto.MemberVo">
        INSERT INTO
        tbl_member (m_email, m_pw, m_name, m_gender, m_hp1, m_hp2, m_hp3, m_zipcode, m_address, m_address_sub, m_reg_date, m_mod_date, m_role)
        VALUES (#{m_email}, #{m_pw}, #{m_name}, #{m_gender}, #{m_hp1},#{m_hp2}, #{m_hp3}, #{m_zipcode}, #{m_address}, #{m_address_sub}, now(), now(), 'ROLE_ADMIN')
    </insert>
    <select id="selectMember" resultType="com.example.mysample.dto.MemberVo">
        SELECT * FROM tbl_member
        WHERE m_email = #{m_email}
    </select>
    <select id="selectAllMember" resultType="com.example.mysample.dto.MemberVo">
        SELECT * FROM tbl_member
        WHERE m_role='ROLE_ADMIN'
    </select>
    <select id="selectUserMember" resultType="com.example.mysample.dto.MemberVo">
        SELECT * FROM tbl_member
        WHERE m_role='ROLE_MEMBER'
    </select>
    <update id="updateAdminApproval" parameterType="com.example.mysample.dto.MemberVo">
        UPDATE tbl_member
        SET m_approval = 1
        WHERE m_no=#{m_no} and m_role='ROLE_ADMIN'
    </update>
    <update id="updateMemberUpgrade" parameterType="com.example.mysample.dto.MemberVo">
        UPDATE tbl_member
        SET m_role='ROLE_ADMIN', m_approval=1, m_mod_date=now()
        WHERE m_no=#{m_no} and m_role='ROLE_MEMBER'
    </update>

</mapper>